
<div class="container-narrow">

	<ul class="nav nav-pills pull-right">
	  <li class="active">
	    <%= link_to "Home", root_path %>
	  </li>
	  <li><%= link_to "About Us", about_path %></li>

	  <% if user_signed_in? %>
	  	<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	  	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	  <% else %>
	  	<li><%= link_to "Login", new_user_session_path %></li>
	  <% end %>	
	</ul>

	
	<h3> <%= link_to "One Month Rails", root_path, class: "muted brand" %> </h3>

	<hr>

</div>